body{
    background-color:#292727;
    margin: 0%;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    color: aliceblue;
}


#container{
    margin-left: auto;
    margin-right: auto;
    background-color: #292727;

}